body {
    background: whitesmoke;
}

.tell {
    font-size: 20px;
    background-color: \y;
    color: darkblue;
    width: 550px;
    border: 25px solid rgb(233, 233, 233);
    margin: 25px;
    padding: 25px;
    float: right;
}

#style {
    float: left;
    width: 30px
    px;
    height: 550px;
    border: 25px solid black;
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear{
    0%{
        transform:scale(0.5);
        opacity:0;
    }
    60%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
       transform: 2;
       opacity: 1;
    }
}

#header 
a:link {
    color: green;
}
a:visited {
    color: green;
}
a:hover {
    color: red;
}
a:active {
    color: yellow;
}
/*mobile Device*/
@media only screen
    and (max-width:320px){
        background-color:whitesmoke;
    }
/*Desktop*/
    @media only screen
    and (max-width:1000px){
        background-color: whitesmoke;
    }