body {
    background: plum;
}

.tell {
    font-size: 40px;
    background-color: lightgrey;
    color: darkblue;
    width: 300px;
    border: 25px solid paleturquoise;
    margin: 25px;
    padding: 25px;
    float: left;
}

.apple {
    font-size: 40px;
    background-color: lightblue;
    color: rgb(1, 1, 19);
    width: 300px;
    border: 25px solid oldlace;
    margin: 25px;
    padding: 25px;
    font-family: 'Indie Flower', cursive;  
}

#style {
    float: right;
    width: 700px;
    height: 500px;
}