body {
    background: whitesmoke;
}

.tell {
    font-size: 40px;
    background-color: \y;
    color: darkblue;
    width: 650px;
    border: 25px solid rgb(233, 233, 233);
    margin: 25px;
    padding: 25px;
    float: left;
}

#style {
    float: right;
    width: 300px;
    height: 550px;
    border: 25px solid black;
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear{
    0%{
        transform:scale(0.5);
        opacity:0;
    }
    60%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
       transform: 2;
       opacity: 1;
    }
}

#header 
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}